<h1>Artsy Meet-ups</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="eventsBanner">
        <div class="row">
          <div class="col-md-6">
            <h2>Host an Event</h2>
            <p>Artsy has a diverse community of local artists.</p>
            <p>We encourage our users to meet up and share their artistic skills and knowledge and of course...to make new like-minded, art-loving  friends.</p>

            <p>Why not run an event with a few friends and show-case your favourite artwork?  ... then sell the product back here on Artsy!</p>
            <button ui-sref="eventsNew">Host an Event</button>
          </div>


          <div class="col-md-6">
            <h2>Find an event</h2>
            <p>Use the search box below to find an event that interests you.</p>
            <p>Search your favourite hobby or skill to see what's on.</p>

            <input type="text" class="search" ng-model="eventsIndex.q" placeholder="Find art supplies...">
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="row list-reset">
    <div class="col-md-12">
      <h2>Events</h2>
    </div>
    <li ng-repeat="event in eventsIndex.filtered" class="col-md-4">
      <div class="event">
        <h2>{{ event.title }}</h2>
        <h4>Genre: {{ event.genre.name }}</h4>
        <h4>{{ event.date | date: 'longDate' }}</h4>
        <img ng-src="{{ event.image_src }}">

        <button ui-sref="eventsShow({id: event.id})">View</button>
      </div>
    </li>
  </ul>
</div>
