<!DOCTYPE html>

<a ui-sref="eventsIndex" ui-sref-active="active">View All Events</a>

<h1>SHOW me some events</h1>
<div class="row">
  <div class="col-md-6">
    <div class="event">
      <img ng-src="{{ eventsShow.event.image_src }}">
      <h2>{{ eventsShow.event.title }}</h2>
      <h3>{{ eventsShow.event.location }}</h3>
      <h4>{{ eventsShow.event.date | date: 'longDate' }}</h4>
      <p>{{ eventsShow.event.genre.name }}</p>

      <p>{{ eventsShow.event.description }}</p>
      <p>Created by: <strong>{{ eventsShow.event.user.name }}</strong></p>

      <button ng-click="eventsShow.toggleAttending()" ng-if="!eventsShow.isAttending() && main.isAuthenticated()">Attend</button>

      <button ng-click="eventsShow.toggleAttending() && main.isAuthenticated()" ng-if="eventsShow.isAttending()">Decline</button>

      <button ui-sref="eventsEdit({id: eventsShow.event.id})" ng-if="main.isAuthenticated() && main.currentUser.id === eventsShow.event.user.id">Edit</button>
      <button ng-click="eventsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === eventsShow.event.user.id">Delete</button>
    </div>

  </div>
  <div class="col-md-6">
    <div class="attendees">
      <h5>Attending</h5>
      <ul>
      <li ng-repeat="attendee in eventsShow.event.attendees">{{ attendee.username }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in eventsShow.event.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="eventsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
      </ul>
    </div>
    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="eventsShow.addComment()">
        <textarea type="text" name="body" ng-model="eventsShow.comment.body"></textarea>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form ng-submit="eventsShow.searchProducts(eventsShow.etsyTerm)">
      <input type="text" ng-model="eventsShow.etsyTerm">
      <button>Search</button>
    </form>
    <ul class="row">
      <li class="col-md-3" ng-repeat="result in eventsShow.etsyResults"><a href="{{ result.url }}"><img ng-src="{{ result.Images[0].url_570xN }}"></a></li>
    </ul>
  </div>
</div>
