<div class="container-fluid">

<a ui-sref="eventsIndex" ui-sref-active="active">View All Events</a>

<h1>{{ eventsShow.event.title }}</h1>

<div id="event_info">
  <div class="row">
    <div class="col-md-6">
      <div class="event">
        <img ng-src="{{ eventsShow.event.image_src }}">
        <!-- <h2>{{ eventsShow.event.title }}</h2> -->
        <h2>{{ eventsShow.event.location }}</h2>
        <h3>{{ eventsShow.event.date | date: 'longDate' }}</h3>
        <p>Genre: {{ eventsShow.event.genre.name }}</p>

        <p>{{ eventsShow.event.description }}</p>
        <p>Hosted by: <strong>{{ eventsShow.event.user.name }}</strong></p>

        <button ng-click="eventsShow.toggleAttending()" ng-if="!eventsShow.isAttending() && main.isAuthenticated()">Attend</button>

        <button ng-click="eventsShow.toggleAttending() && main.isAuthenticated()" ng-if="eventsShow.isAttending()">Decline</button>

        <button ui-sref="eventsEdit({id: eventsShow.event.id})" ng-if="main.isAuthenticated() && main.currentUser.id === eventsShow.event.user.id">Edit</button>
        <button ng-click="eventsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === eventsShow.event.user.id">Delete</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="attendees">
        <h5>Attending</h5>
        <ul>
        <li ng-repeat="attendee in eventsShow.event.attendees">{{ attendee.username }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="comments">
        <h2>Comments</h2>
        <ul>
          <li ng-repeat="comment in eventsShow.event.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="eventsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6"
     ng-if="main.isAuthenticated()">
      <h5>Add Comment</h5>
      <form ng-submit="eventsShow.addComment()"><textarea type="text" name="body" ng-model="eventsShow.comment.body"></textarea>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>


  <div class="search">
    <div class="row">
      <div class="col-md-12">
        <h2>Search for materials</h2>
        <p> May be you know what materials you need already? Use the search box below to buy them before your meet-up.</p>

        <form ng-submit="eventsShow.searchProducts(eventsShow.etsyTerm)">
          <input type="text" ng-model="eventsShow.etsyTerm">
          <button>Search</button>
          <h3>Looking for inspiration?</h3>
          <p>We've selected some items you may be interested in, based on this events genre.</p>
        </form>

        <div class="etsy">
          <ul class="row">
            <li class="col-md-3" ng-repeat="result in eventsShow.etsyResults">
              <a href="{{ result.url }}"><img ng-src="{{ result.Images[0].url_570xN }}"></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
