<!DOCTYPE html>
<h1>Artsy User Network</h1>
<h2>Find like minded artists in your area</h2>
<p>See what talent is in your local community and arrange meet-ups to create something new.</p>

<ul class="row">
  <li ng-repeat="user in usersIndex.all" class="col-md-6">
    <div class="user">
      <img ng-src="{{ user.image_src }}" alt="users.image">
      <h2>{{ user.name }}</h2>
      <p>{{ user.about }}</p>
      <a href="mailto:{{ user.email }}" ng-if="user.email">{{ user.email }}</a>
    </div>
  </li>
</ul>

<!-- *********Will require this button to activate only when user = owner ************-->
<button ui-sref="usersShow({id: user.id})">View</button>

<!-- <div>
<button ng-click="user.logout()">Logout</button>
</div> -->
