<div class="container">
  <a ui-sref="usersIndex" ui-sref-active="active">Back to Users</a>

  <h1>{{ usersShow.user.name }}</h1>

    <div class="user_info">
      <div class="row">
        <div class="col-md-4">
          <div class="user_img">
          <img ng-src="{{ usersShow.user.image_src }}">
        </div>
      </div>

        <div class="col-md-4">
          <h2>{{ usersShow.user.name }}</h2>
          <h3>{{ usersShow.user.username }}</h3>
          <a href="mailto:{{ usersShow.user.email }}">email: {{ usersShow.user.email }}</a>
          <h4>{{ usersShow.user.about }}</h4>

          <button ui-sref="usersEdit({id: usersShow.user.id})" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id">Edit</button>
          <button ng-click="usersShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id">Delete</button>
        </div>

        <div class="col-md-4">
          <div id="my_meetups">
            <h2>My Meet-ups</h2>
            <ul>
              <li ng-repeat="event in usersShow.user.events_created">
                <a ui-sref="eventsShow({ id: event.id })"><h3>{{ event.title }} meet up</h3></a>
              </li>
            </ul>
            <p ng-hide="usersShow.user.events_created.length">This user has not created any meetups.</p>
          </div>

          <div id="my_products">
            <h2>My Artwork for Sale</h2>
            <ul>
              <li ng-repeat="product in usersShow.user.products_created">
                  <a ui-sref="productsShow({ id: product.id })"><h3>{{ product.title }}</h3></a>
              </li>
            </ul>
            <p ng-hide="usersShow.user.products_created.length">This user currently has no products for sale.</p>
          </div>
        </div>
    </div>
  </div>
</div>
