<!DOCTYPE html>
<a ui-sref="usersIndex" ui-sref-active="active">Back to Users</a>

<h1>All Users</h1>
<div class="row">
  <div class="col-md-6">
    <div class="user">
      <img ng-src="{{ usersShow.user.image_src }}">
      <!-- {{usersShow}} -->
      <h2>{{ usersShow.user.name }}</h2>
      <h3>{{ usersShow.user.username }}</h3>
      <h4>{{ usersShow.user.email }}</h4>
      <h4>{{ usersShow.user.about }}</h4>

    </div>
      <button ui-sref="usersEdit({id: usersShow.user.id})" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id">Edit</button>
      <button ng-click="usersShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id">Delete</button>
    </div>

    <div class="my_meetup">
      <h2>My Meet-ups</h2>
      <div ng-repeat="event in usersShow.user.events_created">
        <a ui-sref="eventsShow({ id: event.id })"><h2>{{ event.title }}</h2></a>
      </div>
    </div>



</div>
