<div class="parallax"></div>
  <div class="content">
    <h2>What can art do for me?</h2>
    <p>Art can change a space, make you smile, make you think, make your loved ones happy with a gift.</p><p>Art can bring people together...in community, shared interests, shared disagreement.</p><p>Start a conversation - buy a conversational piece - make a conversational piece.</p>
  </div>

<div class="parallax2"></div>
  <div class="content">
    <h2>A Community of and for Art-Lovers and Artists alike</h2>
    <p>Artsy brings together all things Arty,<br><strong>Make</strong> some art - <strong>Sell</strong> some art - <strong>Buy</strong> some art.</p>
    <p>Meet up with other artists - experts & novices  ::  <strong>share</strong> your skills, <strong>learn</strong> some skills, <strong>make</strong> art together.</p>
    <p>Sweep out the old and find exciting new artwork, made by community artisans and novices with a keen eye.</p>
    <p>Art is everything <img ng-src="/images/artsy_logo.png"> for everything Art.</p>
  </div>

  <div class="parallax3"></div>
