<!DOCTYPE html>

<h1>Local and home-made Artwork</h1>

  <input type="text" class="search" ng-model="productsIndex.q" placeholder="Search...">

  <button ui-sref="productsNew">Sell an item</button>

<ul class="row">
    <div ng-repeat="product in productsIndex.filtered" class="col-md-4">
      <div class="product">
        <img ng-src="{{ product.image_src }}">
        <h2>{{ product.title }}</h2>
        <h2>{{ product.genre.name }}</h2>


        <button ui-sref="productsShow({id: product.id})">View</button>
      </div>
    </div>
</ul>
