<!DOCTYPE html>
<h1>Johnny 5 is alive in products/show</h1>
<div class="row">
  <div class="col-md-6">
    <div class="product">
      <img ng-src="{{ productsShow.product.image }}">
      <h2>{{ productsShow.product.title }}</h2>
      <h3>{{ productsShow.product.description }}</h3>
      <h4>{{ productsShow.product.price }}</h4>
      <p>Created by: <strong>{{ productsShow.product.user.username }}</strong></p>
    </div>
    <button ui-sref="productsEdit({id: productsShow.product.id})" ng-if="main.isAuthenticated() && main.currentUser.id === productsShow.product.user.id">Edit</button>
    <button ng-click="productsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === productsShow.product.user.id">Delete</button>
  </div>
</div>
