<!DOCTYPE html>
<div class="row">
  <div class="col-md-6">
    <form ng-submit="auth.register()">
      <div>
        <label>Name</label>
        <input type="text" ng-model="auth.user.name">
        </div>

        <div>
        <label>Username</label>
        <input type="text" ng-model="auth.user.username">
        </div>

        <div>
        <label>Email</label>
        <input type="text" ng-model="auth.user.email">
        </div>

        <div>
        <label>About Me</label>
        <input type="text" ng-model="auth.user.about">
        </div>

        <div>
        <label>Profile Picture</label>
        <input type="text" ng-model="auth.user.image">
        </div>

        <div>
        <label>Password</label>
        <input type="password" ng-model="auth.user.password">
        </div>

        <div>
        <label>Password Confirmation</label>
        <input type="password" ng-model="auth.user.password_confirmation">
        </div>

        <button>Register</button>
    </form>
  </div>
</div>
