@import 'vendor/reset/reset';
@import 'vendor/bootstrap/bootstrap-grid';
@import 'variables';
@import 'extends';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.4;
  &:not(.home) {
    main {
      @extend .container;
    }
    header {
      position: static;
      nav {
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}

button, input, textarea {
  font-family: 'Quicksand', sans-serif;
}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 5px;
}

h1, h2, h5 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

h4 {
  font-size: 14px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  nav {
    @extend .container;
    height: 60px;
    ul {
      li {
        line-height: 60px;
        display: inline-block;
        &:first-child {
          font-size: 24px;
        }
        &:not(:first-child) {
          float: right;
          margin-left: 20px;
        }
        a {
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
          &:hover, &:focus {
            color: white;
          }
          &.active {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              border-radius: 2px;
              background-color: $brand-primary;
            }
          }
        }
      }
    }
  }
}

.message {
  background-color: lighten($brand-primary, 20%);
  padding: 10px 0;
  margin-top: -10px;
  margin-bottom: 20px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/party-dog.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.attendees {
  @extend .border;
  @extend .border--blue;
  ul {
    li {
      padding-left: 15px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        background-color: $brand-secondary;
        border-radius: 50%;
      }
    }
  }
}

.comments {
  @extend .border;
  @extend .border--blue;
  ul {
    li {
      &:not(:last-of-type) {
        border-bottom: 1px solid lighten($brand-secondary, 30%);
      }
      padding: 10px 0;
      button {
        font-size: 8px;
        padding: 2px 4px;
        @extend .button;
        @extend .button--blue;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }
    }
  }
}

.event {
  @extend .border;
  @extend .border--pink;
  p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  button {
    @extend .button;
    @extend .button--pink;
  }
}

form {
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
  input, textarea {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $brand-secondary;
    padding: 5px 10px;
    font-size: 14px;
    &:focus {
      outline: none !important;
      border-width: 2px;
      padding: 4px 9px;
    }
  }
  input[type="checkbox"] {
    width: auto;
  }
  textarea {
    resize: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 5px;
    height: 100px;
    &:focus {
      padding: 9px;
    }
  }
  button {
    @extend .button;
    @extend .button--blue;
    width: 100%;
  }
}
